# PostgreSQL
PG_HOST=
PG_PORT=
PG_DATABASE=
PG_USER=
PG_PASSWORD=

# mySQL
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Bot Configuration
OWNER_NUMBER=
PHONE_NUMBER=

# Server
PORT=